# Standard python gitignore
__pycache__/
*.py[cod]
*$py.class

.*_cache/
.claude/

*.json
output/
!package.json

site/
CLAUDE.md
*.egg-info
target/


build/
src/moo_counter/engines/*.c
src/moo_counter/engines/*.so
src/moo_counter/engines/*.pyd
src/moo_counter/engines/build/
src/**/*.so